body
{
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #343a40;
}

#navbar-container
{
    color: white;
    padding: 10px;
    text-align: center;
}

.container 
{
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
}

h2 
{
    color: #495057;
    border-bottom: 2px solid #6c757d;
    padding-bottom: 5px;
}

.accordion-button {
    background-color: #e9ecef;
    color: #495057;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.accordion-button:hover
{
    background-color: #007bff;
    color: white;
}

.accordion-button:not(.collapsed)
{
    background-color: #007bff;
    color: white;
}

.accordion-body 
{
    background-color: #f8f9fa;
    border-top: 2px solid #e9ecef;
    padding: 15px;
    font-size: 1rem;
    line-height: 1.5;
}

.accordion-item 
{
    border: none;
}

.accordion-body ul 
{
    list-style-type: disc;
    padding-left: 20px;
}

.accordion-body ul li 
{
    margin-bottom: 5px;
    color: #343a40;
}
